<%#= raise %>
<div class="container">
  <h3>Github Search Results</h3>
    <% @search_results[:items].each do |results| %>

      <p>
        <img class="github-icon" src="<%= results[:avatar_url] %>">
        <%= link_to results[:login], "http://github.com/#{results[:login]}", target: "_blank" %>
        <%= submit_tag "Subscribe", class: 'btn btn-default' %>
      </p>

    <% end %>
</div>
