<div class="container">
  <h1>Instagram User Search</h1>



<div class="container">
  <%= form_tag(instagram_search_path, method: "get") do %>
    <p>

      <%= text_field_tag :q, params[:q], :placeholder => "Search for user" %>
      <%= submit_tag "Go", class: 'btn btn-default' %>

    </p>
  <% end %>
</div>
