<div class="container">
  <h1>Insta User Search</h1>



<% @results.each do |r| %>


      <%= image_tag "instagram.png" %>

      <%= link_to image_tag("#{r.profile_picture}"), "http://instagram.com/#{r.username}", target: "_blank" %>
      <%= link_to r.username, "http://instagram.com/#{r.username}", target: "_blank" %>

<% end %>
