<div class="container">
  <h1>Insta Search Results</h1>
client = Instagram.client(:access_token => session[:access_token])
  html = "<h1>Search for users on instagram, by name or usernames</h1>"
  for user in client.user_search("instagram")

    <%=  <img src='#{user.profile_picture}'>  %>


  <%= end %>
</div>
