
// General styling for list elements on feed page.
.feed ul {
  padding-left: 0px;
}

.feed ul li {
  list-style: none;
}

.feed a:hover {
  text-decoration: none;
}

.search-users {
  padding-left: 0;
}

.search-users li {
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}

.fa {
  padding-right: 5px;
}

.feed h3{
  color: #428bca;
}

@media (max-width: 800px) {
  .search_users {
    display: block;
  }
  .search_users li {
    display: block;
  }
  .search_users li h4 {
    display: block;
  }
}

// feed user pictures
.feed {
  height: 4.3em;
  padding-top: 0.1em;
}
