// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************/
/*All Page Styling*/
/******************/

body {
  font-family: futura;
}

h1 {
  font-size: 40px;
  color: rgb(50, 209, 202);
}

h4 {
  color: rgb(50, 209, 202);
}

h2 {
  font-size: 15px;
  text-align: center;
  color: white;
}

.horizontal-nav a {
  color: white;
}

.horizontal-nav a:hover {
  color: #ffa07a;
}

// .fa-github-square:hover {
//   color: rgb(50, 209, 202);
// }
//
// .fa-vimeo-square:hover {
//   color: rgb(107, 224, 157);
// }
//
// .fa-twitter-square:hover {
//   color: rgb(252, 189, 104);
// }
//
// .fa-instagram:hover {
//   color: rgb(50, 225, 242);
// }



/****************/
/*Header Styling*/
/****************/

.user-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

header h1 {
  text-align: center;
  padding: 60px;
  margin: 0;
}

.horizontal-nav {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.horizontal-nav li {
  display: inline-block;
  padding: 0 20px;
}

.filter {
  font-size: 1.2em;
  padding: 10px 0;
}

.search {
  padding-bottom: 20px;
}

#picbox {
  margin: 100px 0 0 0;
}

// Header for auth users

.logo {
  font-family: futura;
  font-size: 1.8em;
  color: rgb(50, 209, 202);
}

.logout {
  padding-top: 0.7em;
}

// Twitter search page styling

.twitter-icon {
  height: 4em;
}
