
<div class="container">
  <%= link_to "sign-in using github", "/auth/github" %>
  <%= link_to "sign-in using vimeo", "/auth/vimeo" %>
  <%= link_to "sign-in using twitter", "/auth/twitter" %>
  <%= link_to "sign-in using instagram", "/auth/instagram" %> 
  <%#= link_to "sign-in using dev strategy", "/auth/developer" %>

</div>
