<div class="container-fluid">
  <div class="row">
    <div class="col-md-11">
      <div class="logo">Stream</div>
    </div>
    <div class="col-md-1">
      <div class="logout">
        <%= link_to "Sign Out", logout_path %>
      </div>
    </div>
  </div>
</div>
